<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title WPSN Kue
    block head
  body
    .flash
      .errors
        each error in req.flash('error')
          p= error
      .infos
        each info in req.flash('info')
          p= info
    block content
