<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>새글 게시판</title>
</head>
<body>
  <form action="/" method="post">
    <input type="text"  name="title">
    <input type="text"  name="board">
    <input type="submit" value="게시">
  </form>
</body>
</html>