<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>익명게시판</title>
  <link rel="stylesheet" href="/static/index.css">
</head>
<body>
  <h1>Hello Node.js~</h1>
  <div>
    <h2>익명게시판</h2>
    <form action="/board" method="get">
      <input type="submit" value="새글">
    </form>
    <table>
      <thead>
        <tr>
          <td>번호</td>
          <td>제목</td>
        </tr>
      </thead>
      <tbody>
        <% data.forEach(item=>{%>
        <tr>
          <td><%= item.num %></td>
          <td><a href="/read/<%= item.num%>"><%= item.title %></a></td>
        </tr>
        <% })%>
      </tbody>
    </table>
  </div>
</body>
</html>